{% load static %}

<html lang="en">
<head>
	<style>
		table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		}
		th, td {
		padding: 5px;
		}
	</style>
    <meta charset="UTF-8">
    <title>Course</title>
	<link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}" >
<h3 align="center">COURSES</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<table  style="width:100%">
	<tr>
		<th>
			Department
		</th>
		<th>
			Course
		</th>
		<th>
			Subject
		</th>
	</tr>
	{% for i in cou %}
	<tr>
		<td>
			{{i.Department}}
		</td>
		<td>
			{{i.Course}}
		</td>
		<td>
			{{i.Subject}}
		</td>
	</tr>
	{% endfor %}
</table><br><br>
<div align="center">
	<button type="submit" class="registerbtn" onclick="location.href='{% url 'teacher_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>